* {
   margin: 2%;
   background-color: lightGrey;
}
body{
   font-family: sans-serif;
   margin:  0 auto; 
}
.container {
    display: flex;
    gap: 50px;
}
#posts {
    width: 400px;
}
#posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
textarea {
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(234, 201, 218, 0.8);
}
.options {
    display: flex;
    gap: 25px;
}
#msg {
    color: red;
}
i {
    cursor: pointer;
}
